{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecommerce{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="icon" href="/static/img/Logo/BlyssIcon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.3/css/bootstrap.min.css">
    <!-- Alert sweet 2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4F78F3;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/Logo/Original Logo with Blue Background.png' %}" alt="Logo" height="50">
                Blyss | e-commerce
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'registro' %}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container py-5">
        {% block content %}
        <!-- Contenido dinámico -->
        {% endblock content %}
    </main>

    <!-- Footer
    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">© 2025 Ecommerce. Todos los derechos reservados.</p>
    </footer> -->

    <!-- Bootstrap JS -->
    <script src="/static/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
